.container{
    padding: 1rem;
    section{
        max-width: 500px;
        margin: 1rem auto;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        width: 100%;
        &:hover{
            color: var(--primary);
        }
    }
}