.container{
    padding-bottom: 4rem;

    .element{
        border: 1px solid transparent;
        padding: 0.5rem;
        margin: 0.5rem 0;
    }
    .selected{
        border: 2px solid var(--primary) !important;
    }
    .positioning{
        cursor: pointer;
        &:hover{
            border-color: var(--primary) !important
        }
    }
    .header{
        position: sticky;
        top: 0.5rem;
        z-index: 1;
    }
    .actions{
        display: flex;
        align-items: center;
        gap: 0.2rem;
        opacity: 0;
    }
    .element:hover{
        border: 1px solid var(--primary) !important;
        .actions{
            opacity: 1;
        }
    }
}