.container {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-areas: "sidebar main";

    section {
        padding: 0.5rem;
        height: 100%;
        width: 100%;
    }

    .sidebar {
        grid-area: sidebar;
        position: fixed;
        top: 0;
        width: 120px;
        background-color: var(--dark);
        border-right: 2px solid var(--light);
        overflow-y: auto;
        padding-bottom: 5rem;
    }

    .main {
        grid-area: main;
    }
}
