button, a, svg,
input, textarea, 
ol, ul, li, option, select,
p, q, b, label, span, kbd, small,
h1, h2, h3, h4, h5, h6,
div, section, main, form, header, nav, footer, nav, table, tr, td, title, summary{
    color: var(--text);
    &::-webkit-scrollbar{
        width: 4px;
        height: 4px;
        background-color:var(--background);
    }
    &::-webkit-scrollbar-thumb{
      background:var(--primary);
      border-radius:5px;
      height: 5px;
    }
}

::placeholder{
    color: rgba(128, 128, 128, 0.377);
}

.theme-night{
    --primary: rgb(96, 66, 215);
    --primary-light: rgba(96, 66, 215, 0.797);
    --primary-fade: hsl(24, 100%, 98%);
    --primary-trans: rgb(206, 160, 151, 0.5);
    --background: #141414;
    --text: white;
    --text-light: #c3c3c3e1;
    --dark: #1c1b1b;
    --dark-shade: #4c4b4b59;
    --light: #2b2b2b;
    --light-shade: rgba(52, 52, 52, 0.862);

    --red: rgb(225, 99, 99);
    --blue: rgb(36, 116, 245);
    --green: rgb(84, 210, 111);
    --yellow: yellow;
}

.theme-ocean{
    --primary: #1349e8;
    --primary-light: #1348e8c6;
    --primary-fade: rgba(19, 72, 232, 0.552);
    --primary-trans: rgb(206, 160, 151, 0.5);
    --background: #1c1c1c;
    --text: white;
    --text-light: #c3c3c3e1;
    --dark: #141414;
    --dark-shade: #44434383;
    --light: #262626;
    --light-shade: rgba(52, 52, 52, 0.862);

    --red: rgb(225, 99, 99);
    --blue: rgb(36, 116, 245);
    --green: rgb(84, 210, 111);
    --yellow: yellow;
}

.theme-retro{
    --primary: #bdbbbbe1;
    --primary-light: #f4f3f3f4;
    --primary-fade: #c1c1c1cd;
    --primary-trans: rgb(206, 160, 151, 0.5);
    --background: #1e1e1e;
    --text: rgb(255, 255, 255);
    --text-light: #bcbcbce1;
    --dark: #1a1919;
    --dark-shade: #29292992;
    --light: #272727;
    --light-shade: rgba(52, 52, 52, 0.862);

    --red: rgb(225, 99, 99);
    --blue: rgb(36, 116, 245);
    --green: rgb(84, 210, 111);
    --yellow: yellow;
}

.theme-matrix{
    --primary: #3bd723e1;
    --primary-light: #70ee75e1;
    --primary-fade: #1df62483;
    --primary-trans: rgb(206, 160, 151, 0.5);
    --background: #121111;
    --text: rgb(255, 255, 255);
    --text-light: #bcbcbce1;
    --dark: #1f1f1f;
    --dark-shade: #29282892;
    --light: #2b2b2b;
    --light-shade: rgba(52, 52, 52, 0.862);

    --red: rgb(225, 99, 99);
    --blue: rgb(36, 116, 245);
    --green: rgb(84, 210, 111);
    --yellow: yellow;
}