.container{
    padding-bottom: 4rem;

    .element{
        border-left: 3px solid;
        border-right: 3px solid;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .selected{
        border: 2px solid var(--primary) !important;
    }
    .run{
        position: sticky;
        margin: 0.5rem auto;
        top: 0.5rem;
        z-index: 1;
    }
}